$colorNavBar: white;
$colorDisableConntentOpenMenu: rgba(0, 0, 0, 0.4);
$colorHeader: linear-gradient(180deg, #007bff 0, #1d8eff);
$colorTextheader: white;
$colorLinkDefaut: transparent;
$colorLinkDefautText: rgba(0, 0, 0, 0.54);
$colorLinkHover: #cccc;
$colorLinkHoverText: white;
$colorActiveLink: #e91e63;
$colorActiveLinkText: white;
.mat-expansion-panel-header:hover {
  background: $colorLinkHover;
}
.side-menu {
}

.router-link-active {
  background: $colorActiveLink!important;
  color: $colorActiveLinkText !important;
}
.router-link-active a{
  color: $colorActiveLinkText !important;
}
.router-link-active:hover {
  background: $colorLinkHover;
  color: colorLinkHoverText !important;
}
.green {
  color: #0cdf0c;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 55px !important;
}
.content-header-app {
}
.app-control-left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 1em;
  position: absolute;
}

.content-app-all {
  padding-top: 55px;
}
.header-disable {
  width: 100%;
  height: 100%;
  position: fixed;
  background: $colorDisableConntentOpenMenu;
  z-index: 999;
}

.example-container {
  /* width: 100%; */
  /* height: 100%; */
  min-height: 100vh;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.example-sidenav-content {
  height: 100%;
  /* 
      align-items: center;
      justify-content: center; */
}

.example-sidenav {
  background: $colorNavBar;
  box-shadow: 1px 1px 10px #a8a8a8cc;
}
.content-data-all {
  min-height: 100vh;
}
.poiner-menu {
  cursor: pointer;
}
.img-template-empresa {
  height: 40px;
  width: 40px;
  /* border: 1px solid white; */
}
.img-template-empresa-slider-bar {
  height: 50px;
  width: 50px;
  /* border: 1px solid white; */
}
.header-app-template {
  background: $colorHeader;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  position: fixed;
  z-index: 1000;
}
.header-app-template * {
  color: $colorTextheader;
}
.header-app-template .left {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-app-template .left .app-name {
}
.header-app-template .left .app-name .name {
  //color: $colorTextheader;
}
.margin-app-name-icon {
  margin: 0 0.5em;
}
.header-app-template .center {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-app-template .right {
  display: flex;
  align-items: center;
}
.header-app-template .right .item {
  display: flex;
  align-items: center;
  display: flex;
  margin: 0 1em;
}
.header-app-template .right .item-log-out {
  margin-right: 0;
}
.header-app-template-name {
  position: relative;
  display: flex;
  justify-content: center;
  background: transparent;
  display: flex;
  justify-content: center;
  background: transparent;
  flex-flow: column;
  align-items: center;
  padding-top: 1em;
  font-weight: 700;
}
.header-detail-user {
  position: relative;
  display: flex;
  padding: 2em;
  /* background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg); */
  background-repeat: inherit;
  background-position: center;
}
.header-detail-user::before {
  content: "";
}
.img-avatar-template {
  height: 40px;
  width: 40px;
  border: 1px solid white;
}
.header-detail-user .avatar {
  display: flex;
  align-items: center;
}
.header-detail-user .content {
  display: grid;
  text-align: center;
  max-width: 9em;
  min-width: 9em;
}
.font-small {
  font-size: x-small;
}
.font-x-small {
  font-size: x-small;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}
/*init nav var*/
.side-navbar {
  text-align: left;
  /* background: #393836; */
  color: #fff;
  overflow-y: auto;
  transition: all 0.3s;
  /*  Side navbar small ------------------------ */
}

.side-navbar .scrolled-wrapper {
  width: 100%;
  height: 100%;
}

.side-navbar.hide {
  left: -70px;
}

.side-navbar a.brand-small {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

.side-navbar a.brand-small:hover,
.side-navbar a.brand-small:focus {
  background: none;
}

.side-navbar a.brand-small strong {
  font-size: 1.5rem;
}

.side-navbar li {
  position: relative;
  display: grid;
}

.side-navbar li a {
  position: relative;
  font-size: 0.9rem;
  font-weight: 300;
  // color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: start;
}

.side-navbar li a:focus,
.side-navbar li a:hover,
.side-navbar li a[aria-expanded="true"] {
  /* background: #2b90d9; */
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.side-navbar li a[data-toggle="collapse"]::before {
  content: "\f104";
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 20px;
}

.side-navbar li a[aria-expanded="true"]::before {
  content: "\f107";
  color: #fff;
}

.side-navbar li.active > a {
  background: #2b90d9;
}

.side-navbar li li.active > a {
  background: #2482c7 !important;
}

.side-navbar li ul {
  background: #292929;
  position: relative;
  min-width: 100%;
  left: 0;
  padding-left: 0;
}

.side-navbar li ul a {
  padding-left: 20px;
  font-size: 0.85rem;
}

.side-navbar li ul.collapse a {
  border-left: 2px solid #2b90d9;
}

.side-navbar li ul.collapse a:hover {
  background: #121212;
}

.side-navbar .sidenav-header {
  background: #292929;
  padding: 14px;
  margin-bottom: 10px;
}

.side-navbar .sidenav-header img {
  width: 50px;
  height: 50px;
}

.side-navbar .sidenav-header span {
  font-size: 0.8em;
  color: #666;
}

.side-navbar .sidenav-header h2 {
  margin: 10px 0 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.side-navbar .sidenav-heading {
  font-weight: 700;
  color: #adb5bd;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-navbar i[class*="icon-"] {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.side-navbar span {
  display: inline-block;
}

.side-navbar i {
  font-size: inherit;
  margin-right: 10px;
}

.side-navbar .badge {
  display: inline-block;
  font-size: 0.6em;
}

.side-navbar .brand-small {
  display: none;
}

.side-navbar.shrink {
  width: 70px;
  text-align: center;
}

.side-navbar.shrink .brand-small {
  display: block;
}

.side-navbar.shrink .sidenav-header-inner {
  display: none;
}

.side-navbar.shrink .sidenav-heading {
  margin-left: 0;
  font-size: 0.8rem;
}

.side-navbar.shrink ul li a {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 5px;
}

.side-navbar.shrink ul li a[data-toggle="collapse"]::before {
  content: "\f107";
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

.side-navbar.shrink
  ul
  li
  a[data-toggle="collapse"][aria-expanded="true"]::before {
  content: "\f106";
}

.side-navbar.shrink ul li ul a {
  padding-left: 10px;
  font-size: 0.7rem;
}

.side-navbar.shrink i {
  display: block;
  margin-right: 0;
  font-size: 1rem;
}

.side-navbar.shrink .arrow {
  float: none;
  -webkit-transform: none !important;
  transform: none !important;
}

.side-navbar.shrink .badge {
  display: none;
}

/*end nav var*/
button:focus {
  outline: none !important;
}

/*init mini nav*/
/* @media (max-width: 1199px) {
    .header-detail-user{
      padding: 1em;
    }
    .header-detail-user .content{
      display: none;
    }
    .page {
      width: 100%;
    }
    .page.active {
      width: 100%;
    }
    .page.active-sm {
      width: calc(100% - 70px);
    }
    .side-navbar {
      left: -70px;
      width: 70px;
      text-align: center;
    }
    .side-navbar.show-sm {
      left: 0 !important;
    }
    .side-navbar .brand-small {
      display: block;
    }
    .side-navbar .sidenav-header-inner {
      display: none;
    }
    .side-navbar .sidenav-heading {
      margin-left: 0;
      font-size: .8rem;
    }
    .side-navbar ul li a {
      font-size: .7rem;
      padding-left: 5px;
      padding-right: 5px;
    }
    .side-navbar ul li a[data-toggle="collapse"]::before {
      content: '\f107';
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      position: absolute;
      top: auto;
      right: 50%;
      bottom: 0;
      left: auto;
    }
    .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
      content: '\f106';
    }
    .side-navbar ul li ul a {
      padding-left: 10px;
      font-size: .7rem;
    }
    .side-navbar i {
      display: block;
      margin-right: 0;
      font-size: 1rem;
    }
    .side-navbar .arrow {
      float: none;
      -webkit-transform: none !important;
      transform: none !important;
    }
    .side-navbar .badge {
      display: none;
    }
  } */
/*End mini nav*/
.item-link {
  background: $colorLinkDefaut;
  color: $colorLinkDefautText !important;
  font-size: 15px;
}
.item-link a {
  display: flex;
  padding: 0.5em;
  background: $colorLinkDefaut;
}
.item-link:hover {
  background: $colorLinkHover;
  color: $colorLinkHoverText !important;
}
.active-link {
  background: $colorLinkDefaut;
  color: $colorLinkDefautText;
}
.icon {
  margin-right: 0.5em;
}
.mat-menu-item:hover {
  background: $colorLinkHover;
}
// .header-nav-bar::after {
//   content: "";
//   position: absolute;
//   top: 0; left: 0;
//   width: 100%; height: 100%;
//   background-repeat: round;
//   background-image: url(https://previews.123rf.com/images/sudok1/sudok11510/sudok1151000053/47050307-pasillo-del-hospital-y-el-m%C3%A9dico-como-fondo-desenfocado-borrosa.jpg);
// }
.header-nav-bar {
  // background-size: cover;
  // background-image: url(https://previews.123rf.com/images/sudok1/sudok11510/sudok1151000053/47050307-pasillo-del-hospital-y-el-m%C3%A9dico-como-fondo-desenfocado-borrosa.jpg);
  color: white;
  position: relative;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXLUa-h0y-LJKfmB-49y0SuNyfMlqyfyIzCH_wPf7y4eqikcfw);
  // filter: blur(1px);
}
@media (max-width: 450px) {
  .header-app-template .left .app-name .name {
    display: none;
  }
}
