<section class="color-fondo">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Autenticación </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img class="img-login rounded-circle" src="http://avina.top/cdn//uploadv2/web/1/1/news/2016/01/15/10/11/1452827460_untitled.png" id="icon" alt="User Icon" />
        <!-- <i class="fas fa-user-md fa-4x"></i> -->
      </div>

      <!-- Login Form -->
      <router-outlet></router-outlet>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</section>