<form class="container" [formGroup]="form">
  <div class="row">
    <mat-form-field class="col-md-12">
      <input [type]="'text'" matInput placeholder="Usuario" formControlName="username">
      <!-- <mat-icon matSuffix >supervised_user_circle</mat-icon> -->
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button class="mx-auto col-md-4 btn btn-success"  [disabled]="form.invalid" (click)="login()">Login</button>
  </div>
</form>