@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$font-stack: Helvetica, sans-serif;
$colorDisableBtn: #ff00008f;
/*Init Template Admin*/
* {
  font-family: $font-stack;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.mat-drawer-content {
  overflow: unset !important;
}
.mat-drawer-container {
  /* overflow: unset; */
  overflow: inherit !important;
}
.mat-drawer.mat-drawer-side {
  z-index: 999 !important;
}

.mat-drawer-content {
  z-index: auto !important;
}

.mat-drawer-container {
  z-index: auto !important;
}
.menu-expansion {
}
.btn:disabled {
  cursor: not-allowed !important;
  background: $colorDisableBtn !important;
}
.btn:disabled:hover {
  background: $colorDisableBtn;
}
.mat-expansion-panel-body {
  padding: 0 4px 4px !important;
}
.mat-expansion-panel-body ul li {
  padding-left: 2em;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row:hover {
  background: #f3f3f3;
  cursor: pointer;
}

.menu-row-accion {
  max-width: 3rem;
}
/* Init fixed en select mat-opions*/
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}
.label-slide {
  font-size: small;
  font-weight: 100 !important;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.54);
}
/*end fixed en select mat-opions*/
// .menu-expansion .mat-expansion-panel-content .mat-expansion-panel-body{
//     background: #2482c78f;
//     padding: 2px;
// }
/*End Template Admin*/
